<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/mycss/register.css">
  <title>Register</title>
  <link href="static/mycss/cover.css" rel="stylesheet">
  </head>

<body class="text-center">

    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
            <line x1="5" y1="8" x2="5" y2="20"></line>
            <line x1="18" y1="8" x2="18" y2="20"></line>
            <line x1="0" y1="10" x2="11.5" y2="0"></line>
            <line x1="23" y1="10" x2="11.5" y2="0"></line>
          </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">Schedule</a>
        <a class="py-2 d-none d-md-inline-block" href="login">Sign in</a>
        <a class="py-2 d-none d-md-inline-block" href="register">Register</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Books</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" href="#">About us</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Contact us</a>
      </div>
    </nav>

  <div >
    <form class="form-signin" >
      <img class="mb-4" src="static/pic/Logo.png" alt="" width="250" height="220">

      <input id="name" class="form-control" placeholder="Name" required="" autofocus="" type="text">
      <input id="number" class="form-control" placeholder="Phone number" required="" autofocus="" type="tel">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input id="inputEmail" class="form-control" placeholder="Email address" autofocus="" type="email"><br>
      <input type="radio" name="gender" value="Male" required=""> Male
      <input type="radio" name="gender" value="Female" required=""> Female

      <br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
  </div>

</body>
