<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/mycss/cover.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/mycss/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
            <line x1="5" y1="8" x2="5" y2="20"></line>
            <line x1="18" y1="8" x2="18" y2="20"></line>
            <line x1="0" y1="10" x2="11.5" y2="0"></line>
            <line x1="23" y1="10" x2="11.5" y2="0"></line>
          </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">Schedule</a>
        <a class="py-2 d-none d-md-inline-block" href="dashboard">Dashboard</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Books</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" href="#">About us</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Contact us</a>
        <a class="py-2 d-none d-md-inline-block" href="{%url 'logout'%}">Log out</a>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                  <span data-feather="home"></span>
                  Status <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="file"></span>
                  Courses
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  History
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Inbox
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Course Report
                </a>
              </li>

            </ul>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1 font-weight-bold">{{user.first_name}} {{user.last_name}}</h1>
            <div class="mb-2 mb-md-0">
                <img src="../pic/head.png" style="width:20%;float:right">
            </div>
          </div>
          <div id="details">
            <h1 class="h1">Courses</h1>
            <ul class="list-group">
              {%for i in courses%}
              <a href="dashboard/courses/info_" + i><li class="list-group-item">{{i}}</li></a>
              {%endfor%}
            </ul>
          </div>
        </main>



      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script type="text/javascript">
;
    </script>


  </body>
</html>
