{% extends "fa/html/layouts/base_layout.html"%}

{% block title %}
  <title>Books</title>
{% endblock %}

{% block head %}
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/static/html/books/style.css">
{% endblock %}

{% block body %}
<!--==========================
  Book Intro Section
============================-->
<section id="intro" style='background: center url("/media/main/book-shelf.jpg");background-size:cover;'>
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">کتابخانه<br><span>دلتا</span></h1>
    <a href="#speakers" class="about-btn scrollto">کتاب ها</a>
    <!-- <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p> -->
  </div>
</section>

<main id="main">


  <!--==========================
    Books Section
  ============================-->
  <section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>دسته بندی کتاب ها</h2>
      </div>

      <div class="row">
        {%for i in groups%}
        <div class="col-lg-3 col-md-6">
          <a href="speaker-details.html"><div class="speaker">
            <img src="/media/{{i.group_pic}}" alt="Books" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">{{i.group_name}}</h3>
              <p>{{i.level}}</p>
              <p>{{i.description}}</p>
              <!-- <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div> -->
            </div>
          </div></a>
        </div>
        {%endfor%}
    </div>
  </section>
  <!-- #contact -->

</main>

{% endblock %}

    {%block js%}
    <script type="text/javascript">
      $('a[href="/book_shelf"]').parent().addClass('menu-active')
    </script>
    {%endblock%}
