{% extends "html/layouts/base_layout.html"%}

{% block title %}
  <title>Access Denied</title>
{% endblock %}


{% block body %}
<!--==========================
  Book Intro Section
============================-->
<section id="intro" style='background: center rgba(6, 12, 34, 0.98)'>

  <div class="intro-container wow fadeIn">
    <!-- page content -->
    <div class="col-md-12" style="margin-top:20%">
      <div class="col-middle">
        <div class="text-center">
          <h1 style="font-size:1000%">403</h1>
          <h1 style="color:red">Access denied</h1>
          <a href="#">Report this?</a>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
</section>

{% endblock %}
