{% extends "en/html/dashboard/layout.html" %}


  {%block menu-section%}
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a href="/en/dashboard/"><i class="fa fa-leaf"></i>Dashboard</a>
            </li>
          <li><a href="/en/dashboard/teacher_info/"><i class="fa fa-info-circle"></i> Information</a>
            </li>
          <li><a><i class="fa fa-book"></i> Courses </a>
            <ul class="nav child_menu" id="year-courses">

            </ul>
            </li>
          <li><a><i class="fa fa-envelope"></i> Mail <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/en/dashboard/mail/compose/">Send message</a></li>
              <li><a href="/en/dashboard/mail/inbox/">Inbox</a></li>
            </ul>
          </li>
          <li><a href="/en/dashboard/settings/"><i class="fa fa-gear"></i> Settings </a>
          </li>
        <li><a href="{%url 'logout' lang='en'%}?next={{request.path}}"><i class="fa fa-sign-out"></i> Log out </a>
        </li>
        </ul>
      </div>

      <script>
        teacher_courses({{courses|safe}})
      </script>
  {%endblock%}
