{% extends "en/html/dashboard/admin/layout.html" %}

{%block x_title%}
<h3>Add User</h3>
{%endblock%}

{% block main %}

        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
         <form id="add-user-form" action="{%url 'add_user_submit' lang='en'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
           {%csrf_token%}
           <div style="margin:10px">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Sina" name="firstName" required>
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Farahani" name="lastName" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="sina86" name="username" required>
              </div>
              <div class="form-group col-md-6">
                <label for="idNumber">ID Number</label>
                <input type="text" class="form-control" id="idNumber" placeholder="123456789" name="idNumber" required>
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="phone">Phone</label>
                <input type="tel" class="form-control" id="phone" placeholder="07154123456" name="phone" required>
              </div>
              <div class="form-group col-md-6">
                <label for="mobile">Mobile</label>
                <input type="tel" class="form-control" id="mobile" placeholder="09123456789" name="mobile" required>
              </div>
            </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address">
            </div>
          </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="someone@example.com" name="email">
              </div>
              <div class="form-group col-md-4">
                <label for="role">Role</label>
                <select id="role" class="form-control" name="role">
                  <option selected>Choose...</option>
                  <option>Teacher</option>
                  <option>Student</option>
                  <option>Staff</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="pic">Profile photo</label>
                <input type="file" class="form-control" id="pic" name="pic">
              </div>
              </div>
            <div>
          </form>
          <button type="submit" class="btn btn-primary btn-block" style="margin:5% 0;background-color:rgba(6, 12, 34, 0.98)" id="submit-add-user-form"><b>Submit</b></button>
       </main>

       <script>
         var address = "{%url 'validate_username' lang='en'%}"
         $("#username").blur(validate_username)
         $('#submit-add-user-form').click(submit_add_user_form)
         $('.ui-pnotify').remove()
       </script>
{% endblock %}

{%block modal_title%}
  Add User
{%endblock%}
