{% extends "en/html/dashboard/admin/layout.html" %}

{%block x_title%}
<h3>Add User</h3>
{%endblock%}

{% block main %}

        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
         <form id="add-user-form" action="{%url 'add_user_submit' lang='en'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
           {%csrf_token%}
           <div style="margin:10px">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Sina" name="firstName" required>
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Farahani" name="lastName" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="sina86" name="username" required>
              </div>
              <div class="form-group col-md-6">
                <label for="idNumber">ID Number</label>
                <input type="text" class="form-control" id="idNumber" placeholder="123456789" name="idNumber" required>
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="phone">Phone</label>
                <input type="tel" class="form-control" id="phone" placeholder="07154123456" name="phone" required>
              </div>
              <div class="form-group col-md-6">
                <label for="mobile">Mobile</label>
                <input type="tel" class="form-control" id="mobile" placeholder="09123456789" name="mobile" required>
              </div>
            </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address">
            </div>
          </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="someone@example.com" name="email">
              </div>
              <div class="form-group col-md-4">
                <label for="role">Role</label>
                <select id="role" class="form-control" name="role">
                  <option selected>Choose...</option>
                  <option>Teacher</option>
                  <option>Student</option>
                  <option>Staff</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputImage">Profile picture</label>
                <label for="inputImage" class="btn btn-info" title="Upload image file" style="margin:3%">Choose file...
                  <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Import image">
                    <span class="fa fa-upload"></span>
                  </span>
                </label>
                  <div style="margin:10px">
                   <div class="form-row">
                     <div class="form-group col-md-12">
                       <!--************************-->
                       <!--************************-->
                       <!--************************-->
                       <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                         <div class="modal-dialog modal-lg">
                           <div class="modal-content">

                             <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                               </button>
                               <h4 class="modal-title" id="myModalLabel">{%block modal_title%}{%endblock%}</h4>
                             </div>
                             <div class="modal-body">
                               <photo>
                                 <div class="container cropper">
                                   <div class="row">
                                     <div class="col-md-9">
                                       <div class="img-container">
                                         <img id="image" src="" alt="Picture">
                                       </div>
                                     </div>
                                     <div class="col-md-3">
                                       <div class="docs-preview clearfix">
                                         <div class="img-preview preview-lg"></div>
                                       </div>
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-md-9 docs-buttons">
                                       <!-- <h3 class="page-header">Toolbar:</h3> -->
                                       <div class="btn-group">
                                           <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move">
                                             <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
                                               <span class="fa fa-arrows"></span>
                                             </span>
                                           </button>
                                           <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
                                             <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;crop&quot;)">
                                               <span class="fa fa-crop"></span>
                                             </span>
                                           </button>

                                       </div>

                                       <div class="btn-group">
                                         <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, 0.1)">
                                             <span class="fa fa-search-plus"></span>
                                           </span>
                                         </button>
                                         <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, -0.1)">
                                             <span class="fa fa-search-minus"></span>
                                           </span>
                                         </button>
                                       </div>

                                       <div class="btn-group">
                                         <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, -10, 0)">
                                             <span class="fa fa-arrow-left"></span>
                                           </span>
                                         </button>
                                         <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 10, 0)">
                                             <span class="fa fa-arrow-right"></span>
                                           </span>
                                         </button>
                                         <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 0, -10)">
                                             <span class="fa fa-arrow-up"></span>
                                           </span>
                                         </button>
                                         <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 0, 10)">
                                             <span class="fa fa-arrow-down"></span>
                                           </span>
                                         </button>
                                       </div>

                                       <div class="btn-group">
                                         <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, -45)">
                                             <span class="fa fa-rotate-left"></span>
                                           </span>
                                         </button>
                                         <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, 45)">
                                             <span class="fa fa-rotate-right"></span>
                                           </span>
                                         </button>
                                       </div>

                                       <div class="btn-group">
                                         <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
                                           <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;reset&quot;)">
                                             <span class="fa fa-refresh"></span>
                                           </span>
                                         </button>
                                       </div>

                                       <button type="button" class="btn btn-primary" data-method="moveTo" data-option="0">
                                         <span class="docs-tooltip" data-toggle="tooltip" title="cropper.moveTo(0)">
                                           0,0
                                         </span>
                                       </button>
                                       <button type="button" class="btn btn-danger float-right" data-method="getCroppedCanvas" data-dismiss="modal">
                                         <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getCroppedCanvas&quot;)">
                                           Confirm
                                         </span>
                                       </button>
                                       <a class="btn btn-primary hidden" id="download" href="javascript:void(0);" download="cropped.png">sina</a>


                                     </div><!-- /.docs-buttons -->

                                     <div class="col-md-3 docs-toggles">
                                       <!-- <h3 class="page-header">Toggles:</h3> -->

                                     </div><!-- /.docs-toggles -->
                                   </div>
                                 </div>
                               </photo>
                               </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-info" data-dismiss="modal">Continue editting</button>
                             </div>

                           </div>
                         </div>
                       </div>


                       <!--************************-->
                       <!--************************-->
                       <!--************************-->
                       <csrf id="csrf" value="{{csrf_token}}"></csrf>
                       <img id="new-image" src="" style="width:20%;float:right">
                       <input type="text" id="pic-path" name="pic-path" value="" class="hidden">


                     </div>
                  </div>
                 </div>
              </div>
              </div>
            <div>
          </form>
          <button type="submit" class="btn btn-primary btn-block" style="margin:5% 0;background-color:rgba(6, 12, 34, 0.98)" id="submit-add-user-form"><b>Submit</b></button>
       </main>

       <script>
         var address = "{%url 'validate_username' lang='en'%}"
         $("#username").blur(validate_username)
         $('#submit-add-user-form').click(submit_add_user_form)
         $('.ui-pnotify').remove()
       </script>
{% endblock %}
