{% extends "en/html/dashboard/admin/layout.html" %}


{%block x_title%}
<h3>Settings</h3>
{%endblock%}


{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4">
<div id="details">
  <form id="change-name" action="{%url 'change_name' lang='en'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
    {%csrf_token%}
    <div style="margin:10px">
     <div class="form-row">
       <div class="form-group col-md-6">
         <label for="firstName">First name</label>
         <input type="text" class="form-control" id="firstName" placeholder="New name" name="firstName" required>
       </div>
       <div class="form-group col-md-6">
         <label for="lastName">Last name</label>
         <input type="text" class="form-control" id="lastName" placeholder="New lastname" name="lastName" required>
       </div>
     </div>
     <div>
       <button type="submit" class="btn btn-primary float-right" style="margin:5% 0;" id="submit-name">Change Name</button>
     </div>
   </form>
 </div>
 <div>
   <form id="change-pass" action="{%url 'change_pass' lang='en'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
     {%csrf_token%}
     <div style="margin:10px">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">Old Password</label>
          <input type="password" class="form-control" id="oldpass" placeholder="Old" name="oldpass" required>
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
          <label for="lastName">New Password</label>
          <input type="password" class="form-control" id="newpass" placeholder="New" name="newpass" required>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Re-Enter New Password</label>
          <input type="password" class="form-control" id="repass" placeholder="New" name="repass" required>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary float-right" style="margin:5% 0;" id="submit-pass">Change Password</button>
      </div>
    </form>
    </div>
    <div class="">
    <form id="change-profile-photo" action="{%url 'change_profile_photo' lang='en'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
      {%csrf_token%}
        <div style="margin:10px">
         <div class="form-row">
           <div class="form-group col-md-6">
             <input type="file" name="pic" accept=".jpeg,.jpg,.png" id="pic" required>
           </div>
        </div>
       </div>
       <div>
         <button type="submit" class="btn btn-primary float-right" style="margin:5% 0;" id="submit-profile-photo">Change Profile Photo</button>
         <button type="button" class="btn btn-danger float-right" style="margin:5% 1%;" id="delete-profile-photo">Delete Profile Photo</button>
       </div>
     </form>
   </div>
</main>

<script type="text/javascript">
  $('#submit-name').click(submit_name)
  $('#submit-pass').click(submit_pass)
  $('#submit-profile-photo').click(submit_profile_photo)
  $('#delete-profile-photo').click(delete_profile_photo)

</script>

{% endblock %}
