{% extends "html/dashboard/admin/layout.html" %}
{%block x_title%}
<h3>Add Term</h3>
{%endblock%}
{% block main %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4">
         <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
           <h3 class="h3 font-weight-bold">{{user.first_name}} {{user.last_name}}<br/><span class="h5">{{user.role}}</span></h3>
           <div class="mb-2 mb-md-0">
               <img src="{{user.pic.url}}" style="width:10%;float:right">
           </div>
         </div> -->
         <form id="add-term-form" action="{%url 'add_term_submit'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
           {%csrf_token%}
           <div style="margin:10px">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="year">Year</label>
                <input type="number" class="form-control" id="year" placeholder="1397" name="year" required>
              </div>
              <div class="form-group col-md-4">
                <label for="season">Season</label>
                <select id="season" class="form-control" name="season" required>
                  <option selected>Choose...</option>
                  <option>Spring</option>
                  <option>Summer</option>
                  <option>Fall</option>
                  <option>Winter</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="part">Part</label>
                <select id="part" class="form-control" name="part"  required>
                  <option selected>Choose...</option>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
            <div>
          </form>
           <button type="submit" class="btn btn-warning" onclick="submit_add_term_form" style="margin:5% 0;" id="submit">Submit</button>
       </main>

       <script>
         $('#submit').click(submit_add_term_form);
       </script>

  {% endblock %}

  {%block modal_title%}
    Add term
  {%endblock%}
