{% include "html/dashboard/admin/layout.html" %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
   <h3 class="h3 font-weight-bold">{{user.first_name}} {{user.last_name}}<br/><span class="h5">{{user.role}}</span></h3>
   <div class="mb-2 mb-md-0">
       <img src="{{user.pic.url}}" style="width:10%;float:right">
   </div>
 </div>
 <form id="course-to-term-form" action="{%url 'course_to_term_submit'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
   {%csrf_token%}
   <div style="margin:10px">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="term">Term</label>
        <select id="term" class="form-control" name="term">
          {%for i in terms%}
          <option>{{i.season}}-{{i.part}}-{{i.year}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="courseName">Course name</label>
        <input type="text" class="form-control" id="courseName" placeholder="AEF 1" name="courseName" required>
      </div>
      <div class="form-group col-md-3">
        <label for="courseCode">Course code</label>
        <input type="text" class="form-control" id="courseCode" placeholder="AEF1UI" name="courseCode" required>
      </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-3">
        <label for="teacherName">Teacher name</label>
        <input type="text" class="form-control" id="teacherName" placeholder="Sina Farahani" name="teacherName" required>
      </div>
      <div class="form-group col-md-3">
        <label for="teacherUsername">Teacher username</label>
        <input type="text" class="form-control" id="teacherUsername" placeholder="sina86" name="teacherUsername" required>
      </div>
      <div class="form-group col-md-6">
        <label for="courseGroup">Course group</label>
        <input type="number" class="form-control" id="courseGroup" placeholder="2" name="courseGroup" required>
      </div>

    </div>
      <button type="submit" class="btn btn-primary btn-block" style="margin:5% 0" id="submit">Submit</button>

    <div>
  </form>
</main>
</div>
</div>

      <!-- Central Modal Medium Success -->
        <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header">
                <p class="heading lead">Status</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="white-text">&times;</span>
                </button>
              </div>

              <!--Body-->
              <div class="modal-body">
                <div class="text-center">
                  <p id="status"></p>
                </div>
              </div>

              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!-- Central Modal Medium Success-->


{% endblock %}

  <script type="text/javascript">
    $('#submit').click(submit_form)
    $('#courseName').blur(fill_courseCode)
    $('#courseCode').blur(fill_courseName)
    $('#teacherName').blur(fill_teacherUsername)
    $('#teacherUsername').blur(fill_teacherName)

    function fill_courseCode(){
      $('#courseName').css("color","black");
      var courseName = $(this).val();
      if(courseName == ""){
        $('#courseCode').val("");
        $('#courseCode').css("color","black");
      }
      else{
      $.ajax({
        url: "{%url 'auto_fill'%}",
        data: {
          'info': courseName,
          'wanted':"courseCode"
        },
        dataType: 'json',
        success: function (data) {
          if(data.status){
            $('#courseCode').val(data.info);
             $('#courseCode').css("color","green");
           }
           else{
             $('#courseCode').val("");
             $('#courseCode').attr("placeholder",data.info);
           }
        }
      });
    }}
    function fill_courseName(){
      $('#courseCode').css("color","black");
      var courseCode = $(this).val();
      if(courseCode == ""){
        $('#courseName').val("");
        $('#courseName').css("color","black");
      }
      else{
      $.ajax({
        url: "{%url 'auto_fill'%}",
        data: {
          'info': courseCode,
          'wanted':"courseName"
        },
        dataType: 'json',
        success: function (data) {
          if(data.status){
            $('#courseName').val(data.info);
             $('#courseName').css("color","green");
           }
           else{
             $('#courseName').val("");
             $('#courseName').attr("placeholder",data.info);
           }
        }
    })
  }}
    function fill_teacherUsername(){
      $('#teacherName').css("color","black");
        var teacherName = $(this).val();

        if(teacherName == ""){
          $('#teacherUsername').val("");
          $('#teacherUsername').css("color","black");
        }
        else{
        $.ajax({
          url: "{%url 'auto_fill'%}",
          data: {
            'info': teacherName,
            'wanted':"teacherUsername"
          },
          dataType: 'json',
          success: function (data) {
            if(data.status){
              $('#teacherUsername').val(data.info);
               $('#teacherUsername').css("color","green");
             }
             else{
               $('#teacherUsername').val("");
               $('#teacherUsername').attr("placeholder",data.info);
             }
          }
      })
    }}
    function fill_teacherName(){
      $('#teacherUsername').css("color","black");
      var teacherUsername = $(this).val();
      if(teacherUsername == ""){
        $('#teacherName').val("");
        $('#teacherName').css("color","black");
      }
      else{
      $.ajax({
        url: "{%url 'auto_fill'%}",
        data: {
          'info': teacherUsername,
          'wanted':"teacherName"
        },
        dataType: 'json',
        success: function (data) {
          if(data.status){
            $('#teacherName').val(data.info);
             $('#teacherName').css("color","green");
           }
           else{
             $('#teacherName').val("");
             $('#teacherName').attr("placeholder",data.info);
           }
        }
    })
  }}

    function submit_form(){
      $('#course-to-term-form').ajaxForm({
        success: function (data) {
        $('#status').html(data.msg)
        $('#centralModalSuccess').modal()
        document.getElementById('course-to-term-form').reset()
        },
        dataType:'json',
      })
    }

    $('#add').addClass("active")
    $('#course').addClass("active")
    $('#add-course-to-term').addClass("active")
    $('#collapseAdd').addClass("show")
    $('#add').attr("aria-expanded","true")
    $('#collapseCourse').addClass("show")
    $('#course').attr("aria-expanded","true")

</script>
