{% include "html/dashboard/admin/layout.html" %}

{% block main %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
           <h1 class="h1 font-weight-bold">{{user.first_name}} {{user.last_name}}<br/><span class="h3">{{user.role}}</span></h1>
           <div class="mb-2 mb-md-0">
               <img src="{{user.pic.url}}" style="width:20%;float:right">
           </div>
         </div>


         <form id="edit-user-form" action="/dashboard/users/{{euser.username}}/edit_user/ajax" method="post" class="form" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
           {%csrf_token%}
           <div class="form-row">
             <table>
             <tr>
             <td style="width:80%">
                <div style="float:left" class="form-group col-md-6">
                  <label for="fn">Firstname</label>
                  <input type="text" name="fn" class="form-control" value="{{ euser.first_name }}" >
                  <label for="ln">Lastname</label>
                  <input type="text" name="ln" class="form-control" value="{{euser.last_name}}" >
                </div>
                <div style="float:left" class="form-group col-md-6">
                </div>
                </td>
               <td>
              <img id="user-photo" style="width:80%;height:80%;margin:4%" src="/media/{{euser.pic}}"
              </td>
              </tr></table>
          </div>
            <div id="details" style="margin:10px">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="em">E-mail</label>
                  <input type="text" name="em" class="form-control" value="{{euser.email}}" >
                </div>
                <div class="form-group col-md-4">
                </div>
                <div class="form-group col-md-4">
                  <label for="us">Username</label>
                  <input type="text" name="us" class="form-control" value="{{euser.username}}" disabled>
                </div>
                </div>
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="ph">Phone</label>
                    <input type="text" name="ph" class="form-control" value="{{euser.phone}}" >
                  </div>
                  <div class="form-group col-md-4">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="mb">Mobile</label>
                    <input type="text" name="mb" class="form-control" value="{{euser.mobile}}" >
                  </div>
                </div>
              <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="id">ID</label>
                      <input type="text" name="id" class="form-control" value="{{euser.idCode}}" >
                    </div>
                    <div class="form-group col-md-4">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="rl">Role</label>
                      <input type="text" name="rl" class="form-control" value="{{euser.role}}" disabled>
                    </div>
                </div>
              <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ad">Address</label>
                        <textarea rows="8" cols="80" name="ad" class="form-control" value="{{euser.address}}" ></textarea>
                      </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="file" name="pic" id="pic">
                  </div>
               </div>
              <div class="form-row">
                  <button type="submit" class="sClass btn btn-danger btn-block float-right" style="color:white" id="edit">Save Changes</button>
                </div>
            </div>
          </form>
       </main>
    </div>
  </div>

      <!-- Central Modal Medium Success -->
        <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header">
                <p class="heading lead">Status</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="white-text">&times;</span>
                </button>
              </div>

              <!--Body-->
              <div class="modal-body">
                <div class="text-center">
                  <p id="status"></p>
                </div>
              </div>

              <!--Footer-->
              <div class="modal-footer justify-content-center">
                  <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!-- Central Modal Medium Success-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/html/dashboard/admin/js.js" charset="utf-8"></script>

    <script>
      $('#users-s').addClass("active")
      $('#statistics').addClass("active")
      $('#collapseStatistics').addClass("show")
      $('#query-users').click(query_users)
      $(document).ready(function(){
        $(".sClass").click(function(){
          save_edit()
        });
      })


    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
{% endblock %}
