{% include "html/dashboard/admin/layout.html" %}

{% block main %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
           <h1 class="h1 font-weight-bold">{{user.first_name}} {{user.last_name}}<br/><span class="h3">{{user.role}}</span></h1>
           <div class="mb-2 mb-md-0">
               <img src="../static/pic/head.png" style="width:20%;float:right">
           </div>
         </div>


         <form id="get-users" action="{%url 'get_users_ajax'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
           {%csrf_token%}
           <div style="margin:10px">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="type">Type</label>
                <select class="form-control" name="type">
                  <option value="All" selected>All</option>
                  <option value="Teachers">Teachers</option>
                  <option value="Students">Students</option>
                  <option value="Others">Others</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="active">Activity</label>
                <select class="form-control" name="active">
                  <option value="All" selected>All</option>
                  <option value="Active">Active only</option>
                  <option value="Deactive">Not active</option>
              </select>
              </div>
            </div>
            <div>
              <div class="" id="users">
                <table class="table table-hover" id="user-list">

                </table>
              </div>
              <button type="submit" class="btn btn-primary float-right" style="margin:5% 0;" id="query-users">Show me!</button>
            </div>
          </form>
       </main>
        </div>
      </div>

      <!-- Central Modal Medium Success -->
        <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header">
                <p class="heading lead">Status</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="white-text">&times;</span>
                </button>
              </div>

              <!--Body-->
              <div class="modal-body">
                <div class="text-center">
                  <p id="status"></p>
                </div>
              </div>

              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!-- Central Modal Medium Success-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      $('#users-s').addClass("active")
      $('#statistics').addClass("active")
      $('#collapseStatistics').addClass("show")

    </script>

    <script type="text/javascript">
      $('#query-users').click(query_users)

      function query_users(){
          $('#get-users').ajaxForm({
          success: function (data) {
            var users = JSON.parse(data.users)
            $('#user-list').empty()
            var count = 0
            $('#user-list').append('<tr>\
              <th style="background-color:grey;color:grey;width:1%">!</th>\
              <th>Name</th>\
              <th>Username</th>\
              <th>Role</th>\
              <th>Mobile</th>\
              <th>Status</th>\
            </tr>')
            users.forEach(fill)
          },
            dataType:'json',
        })
      }

      function fill(user,count){
        count += 1
        $('#user-list').append(
        '<tr>\
          <td>'+count+'</td>\
          <td style="width:30%"><a class="aClick" href="/dashboard/users/'+user.fields.username+'">'+user.fields.first_name+' '+user.fields.last_name+'</a></td>\
          <td style="width:20%%">'+user.fields.username+'</td>\
          <td style="width:15%">'+user.fields.role+'</td>\
          <td style="width:29%">'+user.fields.mobile+'</td>\
          <td style="width:10%">'+(user.fields.is_active?'Active':'Deactive')+'</td>\
        </tr>')
      }
          $(".aClick").click(function () {
              var addressValue = $(this).attr("href");
              $.ajax({
                url: addressValue,
                method:'GET',
                dataType: 'json',
                success: function (data) {
                  if(data.user.feilds.role == "Teacher")
                      showTeacher(data)
                  else if(data.user.fields.role == "Student")
                      showStudent(data)
                  else
                      showStaff(data)
                }
      });
    })

    function showTeacher(data){
      console.log(data.courses)
    }
    function showStudent(data){
      console.log(data.scores)
    }
    function showStaff(data){
      console.log(data.user)
    }
    </script>
{% endblock %}
