{% include "html/dashboard/admin/layout.html" %}

{% block main %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
           <h1 class="h1 font-weight-bold">{{user.first_name}} {{user.last_name}}<br/><span class="h3">{{user.role}}</span></h1>
           <div class="mb-2 mb-md-0">
               <img src="../static/pic/head.png" style="width:20%;float:right">
           </div>
         </div>


         <form id="get-courses" action="{%url 'get_courses_ajax'%}" class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
           {%csrf_token%}
           <div style="margin:10px">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input class="form-control" type="text" placeholder="All" name="name" value="">
              </div>
              <div class="form-group col-md-3">
                <label for="year">Year</label>
                <input class="form-control" type="number" placeholder="All" name="year" value="">
              </div>
              <div class="form-group col-md-3">
                <label for="season">Season</label>
                <select class="form-control" name="season">
                  <option value="" selected>All</option>
                  <option value="Spring">Spring</option>
                  <option value="Summer">Summer</option>
                  <option value="Fall">Fall</option>
                  <option value="Winter">Winter</option>
              </select>
              </div>
              <div class="form-group col-md-2">
                <label for="part">Part</label>
                <input class="form-control" type="number" placeholder="All" name="part" value="">
              </div>
            </div>
            <div>
              <div class="" id="courses">
                <table class="table table-hover" id="course-list">

                </table>
              </div>
              <button type="submit" class="btn btn-primary float-right" style="margin:5% 0;" id="query-courses">Show me!</button>
            </div>
          </form>
       </main>
        </div>
      </div>

      <!-- Central Modal Medium Success -->
        <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header">
                <p class="heading lead">Status</p>
                

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="white-text">&times;</span>
                </button>
              </div>

              <!--Body-->
              <div class="modal-body">
                <div class="text-center">
                  <p id="status"></p>
                </div>
              </div>

              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!-- Central Modal Medium Success-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/html/dashboard/admin/js.js" charset="utf-8"></script>

    <script>
      $('#courses-s').addClass("active")
      $('#statistics').addClass("active")
      $('#collapseStatistics').addClass("show")
      $('#query-courses').click(query_courses)
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
{% endblock %}
