{% include "html/dashboard/admin/layout.html" %}

{% block main %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
           <h1 class="h1 font-weight-bold">{{user.first_name}} {{user.last_name}}<br/><span class="h3">{{user.role}}</span></h1>
           <div class="mb-2 mb-md-0">
               <img src="/static/pic/head.png" style="width:20%;float:right">
           </div>
         </div>
         <div id="info">
           <form class="form" method="post" style="border:1px solid grey;border-radius:5px;margin-bottom:10%">
             {%csrf_token%}
             <div style="margin:10px">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="fn">Firstname</label>
                  <input type="text" name="fn" class="form-control" value="{{user.first_name}}" disabled>
                </div>
                <div class="form-group col-md-4">
                </div>
                <div class="form-group col-md-4">
                  <label for="ln">Lastname</label>
                  <input type="text" name="ln" class="form-control" value="{{user.last_name}}" disabled>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="em">E-mail</label>
                  <input type="text" name="em" class="form-control" value="{{user.email}}" disabled>
                </div>
                <div class="form-group col-md-4">
                </div>
                <div class="form-group col-md-4">
                  <label for="us">username</label>
                  <input type="text" name="us" class="form-control" value="{{user.username}}" disabled>
                </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="ph">Phone</label>
                    <input type="text" name="ph" class="form-control" value="{{user.phone}}" disabled>
                  </div>
                  <div class="form-group col-md-4">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="mb">Mobile</label>
                    <input type="text" name="mb" class="form-control" value="{{user.mobile}}" disabled>
                  </div>
                </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="id">ID</label>
                      <input type="text" name="id" class="form-control" value="{{user.idCode}}" disabled>
                    </div>
                    <div class="form-group col-md-4">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="rl">Role</label>
                      <input type="text" name="rl" class="form-control" value="{{user.role}}" disabled>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="ad">Address</label>
                      <input type="text" name="ad" class="form-control" value="{{user.address}}" disabled>
                    </div>
                  </div>
              </div>
              <div>
            </form>
            </div>
            <div style="margin-bottom:10%" id="tree"></div>
       </main>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript">
      $('input').css('color','black')
      var sina = {{tree|safe}};
      $('#tree').treeview({data: sina});
    </script>
{% endblock %}
